ion-content{
    background-color: black;
}
ion-col img{
    border: 3px solid gold;
    text-align: center !important;
}
ion-header{
    background-color: gold;
}
ion-title{
    font-size: 2em;
    color: white;
}
.png{
    border: 3px solid gold;
}
