ion-content{
    background-color: black;
}
ion-label{
    color:white;
}
ion-input{
    color: white;
}
ion-item ion-icon{
    background-color: black;
    color: white;
}
ion-item{
    background-color: black;
}
h4{
    color: white;
}
ion-buttons{
    color:white;
}