<ion-header color="warning"> 
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos del jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input clearInput [(ngModel)]="Player.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input clearInput [(ngModel)]="Player.descripcion"></ion-input>
  </ion-item>
  <br>

  <ion-list>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-icon value="portero" name="hand" (click)="setGoalKeeper()"></ion-icon>
      <ion-icon value="jugador" name="person" (click)="setPlayerField()"></ion-icon>
      <ion-icon value="staff" name="briefcase" (click)="setStaff()"></ion-icon>
    </ion-item>

  </ion-list>
  <h4 text-center *ngIf="GoalKeeper">Has seleccionado <strong>Portero</strong></h4>
  <h4 text-center *ngIf="PlayerField">Has seleccionado <strong>Jugador</strong></h4>
  <h4 text-center *ngIf="Staff">Has seleccionado <strong>Staff</strong></h4>
  <br>

  <ion-button *ngIf="GoalKeeper || PlayerField || Staff" color="warning" (click)="savePlayer(p)" expand="full">Guardar</ion-button>
</ion-content>