ion-header{
    background-color: gold;
}
ion-title{
    font-size: 2em;
    text-align: center;
}
ion-label{
    color: white;
    background-color: black;
    font-size: 1.15em;
}
ion-content{
    background-color: black;
}
ion-item{
    background-color: black;
}
ion-toolbar{
    background-color: gold;
}
ion-header ion-icon{
    font-size: 2em;
}
ion-label p{
    font-size: 0.75em;
}